@charset "UTF-8";
@font-face {
	font-family: 'MyFont';
	src: url(font/g_brushtappitsu_free_012/g_brushtappitsu_freeB.ttf);

}

body {
    background: #000;
    font-family: MyFont;
}
.wrapper {
    display: flex;
    height: 100vh;
    width: 70vw;
    margin: auto;
}
.jp_map {
    background-image: url(../img/kohchimade.jpeg);
    background-size: cover;
    background-color: #000;
    width: 100vw;
}
.modoru {
	font-family: 'MyFont';
    position: absolute;
    font-size: 3rem;
    color: #fff;
    bottom: 3%;
    right: 1%;
}
.score {
	font-family: 'MyFont';
    position: absolute;
    font-size: 2rem;
    color: #fff;
    top: 3%;
    left: 1%;
}